.profile {
    border-radius: 5px;
    border: 1px solid #555;
    padding: 10px;
}

.profile-img {
    width: 100%;
    border-radius: 5px;
}

.profile-name {
    margin: 0;
    
}

.profile-login {
    color: red;
}

.summary {
    margin-top: 10px;
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .profile-img {
        width: 300px;
    }
}